[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymysql = "*"
requests = "*"
jupyterlab = "*"
pandas = "*"
numpy = "*"
pyspark = "== 3.*"
pyyaml = "*"
pyhocon = "*"
cryptography = "*"
tornado = "*"
chart-studio = "*"
confluent-kafka = "*"

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"



[requires]
python_version = "3.10"
